<header class="article-info clearfix">
  <h1 itemprop="name">
      <a href="{{ .Permalink }}" title="{{ .Title }}" itemprop="url">{{ .Title }}</a>
  </h1>
  <p class="article-author">By
    {{ if and (isset .Params "author") (isset .Params "author_homepage") }}
      <a href="{{ .Params.author_homepage }}" title="{{ .Params.author }}">{{ .Params.author }}</a>
    {{ else }}
      <a href="{{ .Site.Params.AuthorHomepage }}" title="{{ .Site.Author.Name }}">{{ .Site.Params.Author }}</a>
    {{ end }}
  </p>
  <p class="article-time">
    <time datetime="{{ .Date }}" itemprop="datePublished">{{ .Date.Format .Site.Params.DateFormat }}</time>
  </p>
</header>
