{{ $maxRecentPosts := .Site.Params.maxRecentPosts | default 4 }}
<section>
<div class="recentposts">
        <p class="asidetitle">{{ .Site.Params.Strings.RecentPosts }}</p>
            {{ range first $maxRecentPosts (where .Site.Pages "Section" "post") }}
            <ul class="sidebar">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
            </ul>
            {{ end }}
    </div> 
</section>