{{ $maxtags := .Site.Params.maxTags | default 4 }}
{{ if isset .Site.Taxonomies "tags" }}
{{ if not (eq (len .Site.Taxonomies.tags) 0) }}
<div class="tagslist">
	<p class="asidetitle">{{ .Site.Params.Strings.Tags }}</p>
		<ul class="clearfix">
			{{ range $name, $items := .Site.Taxonomies.tags }}
			{{if gt (len $items) $maxtags}}
				<li><a href="{{ $.Site.BaseURL }}tags/{{ $name | urlize | lower }}" title="{{ $name }}">{{ $name }}<sup>{{ len $items }}</sup></a></li>
				{{ end }}
      {{ end }}
		</ul>
</div>
{{ end }}
{{ end }}
