{{ partial "head.html" . }}
<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <div id="container">
    {{ partial "article_content.html" . }}
    {{ partial "sidebar.html" . }}
  </div>
  <script async src="https://unpkg.com/mermaid@8.2.3/dist/mermaid.min.js"></script>
  <footer>{{ partial "footer.html" . }}</footer>
  {{ partial "after_footer.html" .}}
</body>
</html>
