<!DOCTYPE HTML>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}zh-CN{{ end }}">
<head>
  <meta charset="UTF-8">
  <title>{{ if ne .URL "/" }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3, minimum-scale=1">
  {{ if .Keywords }}<meta name="keywords" content="{{ range .Keywords }}{{ . }},{{ end }}">{{ else if eq .URL "/" }}<meta name="keywords" content="{{ .Site.Params.Keywords }}">{{ end }}
  <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else if .IsPage }}{{ .Summary }}{{ else }}{{ .Title }}{{ end }}">
  {{ with .Site.Author.Name }}<meta name="author" content="{{ . }}">{{ end }}
  <meta itemprop="name" content="{{ if ne .URL "/" }}{{ .Title }} - {{ end }}{{ .Site.Title }}">
  <meta itemprop="description" content="{{ if .Description }}{{ .Description }}{{ else if .IsPage }}{{ .Summary }}{{ else }}{{ .Title }}{{ end }}">
  <meta itemprop="image" content="{{ .Site.BaseURL }}img/author.jpg">
  {{ if .Site.Params.Twitter }}<meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{ .Site.Params.Twitter }}" />
  <meta name="twitter:title" content="{{ if ne .URL "/" }}{{ .Title }} - {{ end }}{{ .Site.Title }}" />{{ end }}
  {{ with .Description }}<meta name="twitter:description" content="{{ . }}" />{{ else }}
  <meta name="twitter:description" content="{{ .Site.Params.Description }}">{{ end }}
  {{ if .RSSLink }}<link rel="alternate" href="{{ .Site.BaseURL }}feed.xml" title="{{ .Site.Title }}" type="application/rss+xml"/>{{ end }}
  <link rel="shortcut icon" href="{{ .Site.BaseURL }}/assets/img/favicon.ico"/>
  <link rel="apple-touch-icon" href="{{ .Site.BaseURL }}/assets/img/apple-touch-icon.png" />
  <link rel="apple-touch-icon-precomposed" href="{{ .Site.BaseURL }}/assets/img/apple-touch-icon.png" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}highlight/styles/github.css">
  <script src="{{ .Site.BaseURL }}highlight/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <link rel="stylesheet" href="{{ .Site.BaseURL }}font/hack/css/hack.min.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
</head>
